name: Swift

on: [push]

jobs:
  build:
    runs-on: macOS-latest
    env: 
      DEVELOPER_DIR: /Applications/Xcode_11.app/Contents/Developer
    steps:
    - uses: actions/checkout@v1
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
